<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>SockShare</title>
      <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/htmx.org@1.7.0/dist/ext/ws.js"></script>
    </head>
      <div class="jumbotron">
        <h1>SockShare</h1>
        <p>Easily Share links</p>
      </div>

      <div class="container">
        <div id="buttons">
          <div class="row justify-content-center">
            <button type="button" hx-get="/create" hx-target="#buttons" class="btn btn-outline-info btn-lg">Create Room</button>
            <br>
          </div>
          <div>
            <br>
            <p class="font-weight-bold text-center"> OR </p>
          </div>
          <form hx-get="/create" hx-target="#buttons">
            <div class="row justify-content-center">
              <input name="roomcode" id="roomcode" type="text" placeholder="Enter Room Code">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-dark">Join Room</button>
              </span>
            </div>
          </form>
    
        </div>
      </div>
      
</html>